body{
font-family:Arial, Helvetica, sans-serif;
display:inline-block;
align-items: center;
background-image: url(download.jpg);
background-repeat: no-repeat;
background-size: 100%;
background-size: cover;
}
.container {
    align-items: center;
    margin-left: 500px;
    margin-top: 50px;   
}
.header{
   background: white;
   margin-top: 20px;
}
.header h2{
    margin-left: 15px;
}
.form .btn{
    border-radius: 6px;
    font-size: 20px; 
    width: 100%;
    color: black;
}
.form{
    padding: 20px;
}
.form-control{
    margin-bottom: 20px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
